[tool.poetry]
name = "Fringes-GUI"
version = "0.1.0"
description = "Simple graphical user interface for the 'fringes' package."
authors = ["Christian Kludt"]
readme = "README.md"

[tool.poetry.dependencies]
python = "^3.10,<3.11"
opencv-contrib-python = "^4.7.0"
pyyaml = "^6.0"
scikit-image = "^0.19.3"
fringes = "^0.1.5"  # {path = "../fringes", develop = true}
pyqt6 = "^6.4.2"
pyqtgraph = "^0.13.2"
toml = "^0.10.2"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
